---
const today = new Date();
---

<footer>
  &copy; <script>document.write(new Date().getFullYear())</script> Fynn Hofmann. All rights reserved.
  <div class="social-links">
    <a href="https://www.linkedin.com/in/fynn-hofmann-aa7387283/" target="_blank">
      <span class="sr-only">Folge mir auf LinkedIn</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 16 16">
        <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.21c.837 0 1.356-.554 1.356-1.248-.015-.709-.519-1.248-1.342-1.248C3.06 2.687 2.526 3.226 2.526 3.936c0 .694.505 1.248 1.29 1.248h.026zM13.458 13.394v-3.986c0-2.137-1.14-3.129-2.659-3.129-1.224 0-1.77.672-2.077 1.144v-0.981H6.321c.03.65 0 7.225 0 7.225h2.401v-4.033c0-.216.016-.432.08-.586.176-.432.577-.88 1.25-.88.88 0 1.233.664 1.233 1.637v3.862h2.173z"/>
      </svg>
    </a>
  </div>
</footer>

<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }

  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }

  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }

  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
