---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="social-links">
			<a href="mailto:site@fynnhofmann.com">
				<span class="sr-only">Schreib mir eine E-Mail</span>
				<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 16 16">
					<path d="M0 4a2 2 0 012-2h12a2 2 0 012 2v.217l-8 4.8-8-4.8V4zm0 1.383v6.617a2 2 0 002 2h12a2 2 0 002-2V5.383l-7.555 4.533a.5.5 0 01-.89 0L0 5.383z"/>
				</svg>
			</a>
			<a href="https://www.linkedin.com/in/fynn-hofmann-aa7387283/" target="_blank">
				<span class="sr-only">Folge mir auf LinkedIn</span>
				<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 16 16">
					<path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 
					.633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 
					14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.21c.837 
					0 1.356-.554 1.356-1.248-.015-.709-.519-1.248-1.342-1.248C3.06 
					2.687 2.526 3.226 2.526 3.936c0 .694.505 1.248 1.29 
					1.248h.026zM13.458 13.394v-3.986c0-2.137-1.14-3.129-2.659-3.129-1.224 
					0-1.77.672-2.077 1.144v-0.981H6.321c.03.65 0 
					7.225 0 7.225h2.401v-4.033c0-.216.016-.432.08-.586.176-.432.577-.88 
					1.25-.88.88 0 1.233.664 1.233 
					1.637v3.862h2.173z"/>
				</svg>
			</a>
		</div>
	</nav>
</header>

<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}
	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
		align-items: center;
		gap: 0.5em;
	}
	.social-links svg {
		transition: transform 0.2s ease;
	}
	.social-links svg:hover {
		transform: scale(1.1);
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
